name: Elixir

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        elixir-version: [1.5, 1.6, 1.7, 1.8, 1.9]

    container:
      image: elixir:${{ matrix.elixir-version }}-slim

    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
    - name: Check format
      if: matrix.elixir-version == '1.9'
      run: mix format --check-formatted
    - name: Compile
      env:
        MIX_ENV: test
      run: |
        mix deps.compile
        mix compile --force --warnings-as-errors
    - name: Run tests
      if: matrix.elixir-version != '1.9'
      run: mix test
    - name: Run tests (with coverage)
      if: matrix.elixir-version == '1.9'
      with:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      run: mix coveralls.post
